@model IEnumerable<Tuple<E_Learning.Models.Korisnik, int>>

@{
    ViewData["Title"] = "Ljestvica";
}

<head>
    <style>
        table {
            width: 100%;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }

        table#t01 tr:nth-child(even) {
            background-color: white;
        }
        table#t01 th {
            background-color: #a26ec4;
            color: black;

        }
        h1 {
            color: black;
            text-align: left;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }


    </style>
    </head>

<body>
    <br>

<h1><i>Ljestvica najuspješnijih korisnika</i></h1>

    <br>
@if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 2)
    {
        <p>
    <a asp-action="Create">Napravi novu ljestvicu</a>
        </p>
    }
<br>
<table id="t01">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item1.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1.Prezime)
            </th>
            <th>
                Bodovi
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2)
            </td>
        </tr>
}
    </tbody>
</table>

</body>