@model IEnumerable<E_Learning.Models.Lekcija>

@{
    ViewData["Title"] = "Lekcije";
}

<head>
    <style>
        .pocetni-prikaz {
            color: black;
            text-align: left;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            border: dotted;
        }

        th, td {
            padding: 25px;
            text-align: center;
            border: dotted;
        }

        table#t01 tr:nth-child(even) {
            background-color: white;
        }

        table#t01 tr:nth-child(odd) {
            background-color: white;
            border: dotted;
        }

        table#t01 th {
            background-color: #34eb6e;
            color: black;
            border: dotted;
        }

    </style>

</head>

<body>
    <br>
    <div class="pocetni-prikaz">
        <h1>Lekcije</h1>
    </div>
    <br>
   @if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 2)
    {
    <p><a asp-action="Create">Napravi novu lekciju</a></p>
    }else if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 1)
    {
    <p><a asp-action="PokreniKviz">Kviz |</a>
      <a asp-action="PokreniDaily">Daily Challenge |</a>
    <a asp-action="DajLjestvicu">Ljestvica |</a>  
    <a asp-action="DodajRecenziju">Nova Recenzija |</a>
     <a asp-action="DajRecenzije">Pogledaj Recenzije </a></p>
    }
   <br>
    <table id="t01">
        <thead>
            <tr>
                <th>
                    Izaberite lekciju koju želite 
                </th>
           
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="Open" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Ime)</a>
                </td>
                @if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 2)
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                }else
                {
                   
                }
            </tr>
            }
        </tbody>
    </table>


</body>