@model IEnumerable<E_Learning.Models.Lekcija>

@{
    ViewData["Title"] = "Index";
}

<h1>Lekcije</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="PokreniKviz">Kviz</a>
    <a asp-action="PokreniDaily">Daily Chanllenge</a>
    <a asp-action="DajLjestvicu">Ljestvica</a>
    <a asp-action="DodajRecenziju">Nova Recenzija</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kurs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Open" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Ime)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kurs.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
