@model IEnumerable<E_Learning.Models.Recenzija>

@{
    ViewData["Title"] = "Pregled";
}

    <head>
        <style>
        h1 {
            color: black;
            text-align: left;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
            table {
                width: 100%;
            }

            th, td {
                padding: 15px;
                text-align: center;
            }

            table#t01 tr:nth-child(even) {
                background-color: white;
            }

            table#t01 th {
                background-color: #cabdff;
                color: black;
            }
            </style>
        </head>


<body>
    <br>
<h1>Pregled recenzija - Vaše mišljenje nam je veoma važno</h1>

<p>
    <br>
    <a asp-action="Create">Ostavi novu recenziju :)</a>
</p>
    <br>

<table id="t01">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kurs.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>

            @if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 2)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi |</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji |</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            }
            else if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 1)
            {
             <td>
            <a asp-action="Details" asp-route-id="@item.Id">Detalji</a>
             </td>
            }
        </tr>
}
    </tbody>
    }
</table>
    
    </body>