@model IEnumerable<E_Learning.Models.Oblast>

@{
    ViewData["Title"] = "Oblasti";
}


<head>

    <style>

        .pocetni-prikaz {
            color: black;
            text-align: left;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }

        table#t01 tr:nth-child(even) {
            background-color: white;
        }

        table#t01 tr:nth-child(odd) {
            background-color: white;
            border:dashed;
        }

        table#t01 th {
            background-color: #a26ec4;
            color: black;
            border:dotted;
        }


    </style>

</head>


<body>

    <br>

    <div class="pocetni-prikaz">
        <h1>Oblasti</h1>
    </div>

    <br>

    @if (E_Learning.Controllers.KorisniksController.Trenutni == null)
    {
        <p><i>Klikom na oblast koju želite, otvorit će Vam se kursevi koji su dostupni.</i></p>
    }else if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 2)
    {
        <p>
            <a asp-action="Create">Dodaj novu oblast</a>
        </p>
    }
    else if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 1)
    {
        <p>Klikom na oblast koju želite, otvorit će Vam se kursevi koji su dostupni.</p>
    }

    <br>
    <table id="t01">
        
            <tr>
                <th>Izaberite oblast koju želite pohađati</th>
                <th>Opis oblasti</th>
            </tr>
            <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Open" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Naziv)</a>
            </td>

            @if (E_Learning.Controllers.KorisniksController.Trenutni == null)
            {

                <td> @Html.DisplayFor(modelItem => item.Opis) </td>
            }
            else if (E_Learning.Controllers.KorisniksController.Trenutni.Pristup == 2)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Promijeni</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            }
            else
            {
                <td> @Html.DisplayFor(modelItem => item.Opis) </td>
            }



        </tr>

    }
                </tbody>
</table>


</body>

